%h1= t('.title')
%p= link_to t('.new_work_item'), new_work_item_path

%table
  %thead
    %tr
      %th= WorkItem.human_attribute_name :date
      %th= WorkItem.human_attribute_name :title
      %th= WorkItem.human_attribute_name :note
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for work_item in @work_items
      %tr{ :class => cycle(:odd, :even) }
        %td= work_item.date
        %td= work_item.title
        %td= work_item.note
        %td.action= link_to t('show'), work_item
        %td.action= link_to t('edit'), edit_work_item_path(work_item)
        %td.action= link_to t('destroy'), work_item, :confirm => t('are_you_sure'), :method => :delete
