= content_for :javascripts do
  :javascript
    $(function(){
    
      $('#togglenotes').click(function(){
        $('#notes').toggle();
        return false;
      })
    })


= form_for(@work_item) do |f|
  - if @work_item.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@work_item.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @work_item.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :title, "task"
    %br
    = f.text_area :title
  #notes.field
    .field
      = f.label :date
      %br
      = f.date_select :date

    = f.label :note
    %br
    = f.text_area :note
  
  = link_to "toggle notes", nil, :id => 'togglenotes'

  .actions
    = f.submit "add"

%h3
  Today's Tasks
%ol
- @work_items.each do |work_item|
  %li
    = work_item.title
    = link_to 'delete', work_item, :confirm => t('are_you_sure'), :method => :delete